### Configure Send With Us authentication.
swukey=

### Configure the Send With Us template to use for outgoing mail.
swutemplate=

### Configure the user to use to run the SMTP server.  If you do not specify a
### user, the server will run as the current user.  If you specify user, you
### must start the SMTP server as root, and the server will drop privileges
### after opening the server port.  The group option is ignored if user is not
### specified.  The group option otherwise defaults to the user, if not
### specified.
# user=
# group=

### Configure SMTP listen port.
# port=25

### Configure TLS encryption.  Currently only one intermediate certificate
### can be used, via the 'ca' option.
# key=
# cert=
# ca=

### Configure debug mode.  Leave blank to disable debug mode.
# debug=
